altair
argcomplete
argon2-cffi
astor
astroid
attrs
backcall
backports.zoneinfo
base58
beautifulsoup4
billboard.py
bleach
blinker
bokeh
cachetools
certifi
cffi
charset-normalizer
click
cycler
debugpy
decorator
defusedxml
entrypoints
filelock
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydeck
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
sacremoses
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
six
smmap
soupsieve
streamlit
terminado
testpath
threadpoolctl
tokenizers
toml
toolz
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
tornado
tqdm
traitlets
transformers
typed-ast
typing-extensions
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
wrapt
zipp
